<!--
  Name: Andre Agrippa
  Date: 04/14/2021
  Purpose: To connect all site dependencies and display dynamic pages.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- CSS Section -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/Content/app.css">
</head>
<body id="<%= page %>">
    <!-- Main Header -->
    <header>
      <%- include('./components/header'); -%>
    </header>

    <!-- Main Content -->
    <main class="container">
     <%- include('./content/' + page); -%>
    </main>

    <!-- Main Footer -->
    <footer>
    <%- include('./components/footer'); -%>
    </footer>

    <!-- Script Section-->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/Scripts/contact.js"></script>
    <script src="/Scripts/user.js"></script>
    <script src="/Scripts/app.js"></script>
</body>
</html>
